# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart build artifacts & packages
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio & Gradle build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
.gradle/
captures/
/android/local.properties
local.properties
.kotlin/
/android/.kotlin/

# Keystores and Sensitive files
key.properties
*.keystore
*.jks

# iOS artifacts & CocoaPods
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Flutter/ephemeral/

# Desktop Ephemeral files
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
